# Import Libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

Leer archivos descargados

In [9]:
files = [file for file in os.listdir("./historicalData")] #lista con los archivos

dataFrames = []

for file in files:
    df = pd.read_csv("./historicalData/" + file)
    allData = pd.concat([allData,df])

In [10]:
allData.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-08-03,141.550003,143.429993,139.550003,142.360001,141.825607,2233800
1,2020-08-04,143.240005,146.500000,143.100006,146.320007,145.770752,2680300
2,2020-08-05,145.820007,146.339996,143.259995,146.179993,145.631271,1936900
3,2020-08-06,146.330002,147.360001,144.500000,146.949997,146.398376,1671700
4,2020-08-07,146.429993,146.839996,142.320007,143.990005,143.449478,1514800